html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    min-height: 50px;
    margin-top: auto;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #a6dce4 !important;
}

.carousel {
    position: relative;
}

.carousel_container{
    width: 70%
}

.carousel_room_container {
    width: 100%
}

.carousel-item img {
    object-fit: cover;
}

#carousel-thumbs {
    background: #f0f0f0;
    padding: 0 50px;
}

    #carousel-thumbs img:hover {
        opacity: 100%;
    }

    #carousel-thumbs img {
        opacity: 80%;
        border: 3px solid transparent;
        cursor: pointer;
    }

    #carousel-thumbs .selected img {
        opacity: 100%;
    }

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-fullscreen-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
}

    .carousel-fullscreen-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
    }

.pause .carousel-pause-icon {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
}

    .pause .carousel-pause-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
    }

.play .carousel-pause-icon {
    position: absolute;
    top: 3.75rem;
    left: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
}

    .play .carousel-pause-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
    }

#carousel-thumbs .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0,0,0,.60)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carousel-thumbs .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%60000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*.modal-content {
    border-radius: 0;
    background-color: transparent;
    border: none;
}*/

#lightbox-container-image img {
    width: auto;
    max-height: 520px;
}

.form-upload__preview {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 15px);
    margin-left: -7.5px;
    max-height: 209.2px;
    overflow: auto;
}

.form-upload__title {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 9px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff80b1;
    color: #ff257a;
    font-weight: 600;
    position: relative;
}

.form-upload__control {
    position: absolute;
    width: 0;
    height: 0;
}

.form-upload__item {
    width: 105px;
    margin: 0 7.5px;
}

.form-upload__item-thumbnail {
    padding-top: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}

.form-upload__item-name {
    word-break: break-all;
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}

.form-upload__field {
    display: flex;
}

.btn-clear {
    display: none;
}

.error {
    color: #F00;
}

.login_bg::after {
    content: "";
    background-image: url('../lib/template/images/hero/hero-1.jpg');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.register_bg::after {
    content: "";
    background-image: url('../lib/template/images/hero/hero-1.jpg');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
}